/* Logo section */

#logo {
  display: flex;
  padding: 16px 24px;
  font-size: 32px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logoandname {
  display: flex;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 16px;
}

span {
  font-weight: bold;
}

/* Banner section */

#banner {
  width: 100%;
  background-color: lightgray;
  display: inline-flex;
}

.content {
  display: flex;
  padding: 32px 24px;
  justify-content: space-between;
}

.topimage {
  display: flex;
  max-width: 60%;
  margin-right: 24px;
}

.textandbutton {
  display: block;
  max-width: 30%;
  margin: auto;
  line-height: 1.5;
}

.button {
  background-color: gray;
  width: 80%;
  margin: 30px 0;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h4 {
  padding: 8px 0;
  color: white;
}

.quote span {
  font-weight: normal;
}

.maintext p {
  font-weight: bold;
  padding: 24px 0;
}

/* First block - Information */

h3 {
  font-weight: bold;
}

#information {
  display: flex;
  width: 100%;
}

.main {
  display: block;
  padding: 32px 24px;
  width: 60%;
}

.mainimage img {
  width: 100%;
  height: auto;
  }

.maintext h1 {
  padding: 32px 0 24px 0;
}

.mainlateral {
  width: 40%;
  border-left: lightgray 1px solid;
}

.lateral, .lateral3 {
  width: 100%;
  display: flex;
  padding: 16px;
  align-items: center;
}

.lateral3 {
  background-color: lightgray;
}

.lateralimage {
  width: 35%;
}

.lateraltext {
  width: 65%;
}

.lateraltext p {
  padding: 8px 0;
}

/* Footer section */

footer {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  border-top: lightgray 1px solid;
}
