/* Logo section */

#logo {
  display: flex;
  padding: 16px 24px;
  font-size: 32px;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logoandname {
  display: flex;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 16px;
}

span {
  font-weight: bold;
}

/* Banner section */

#banner {
  width: 100%;
  background-color: lightgray;
  display: inline-flex;
}

.content {
  display: flex;
  padding: 32px 24px;
  justify-content: space-between;
}

.topimage {
  display: flex;
  max-width: 60%;
  margin-right: 24px;
}

.textandbutton {
  display: block;
  max-width: 30%;
  margin: auto;
  line-height: 1.5;
}

.button {
  background-color: gray;
  width: 80%;
  margin: 30px 0;
  text-align: center;
}

h1 {
  font-size: 32px;
  fonte-weight: 900;
}

h3 {
  padding: 8px 0;
  color: white;
}
